body {
    background-color: lightgrey;
    background-size: cover;
    background-position: top center;
    font-family: Aldrich;
    position: relative;
}

.shade {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 910px;
    margin: 0 auto;

    background: black;
    opacity: 0.6;
    z-index: -1;
}

.wrapper {
    padding-top: 100px;
    width:900px;
    margin: 0 auto;
}

nav {
    position: fixed;
    margin: auto;
    left: 0;
    top: 180px;
}
nav ul { padding-left: 0; }
nav ul li { list-style: none; list-style-position: inside; margin-bottom: 20px; }
nav ul li a { background: white; padding: 5px 10px; text-decoration: none; color: black; border-right: 2px solid black; border-top: 2px solid black; border-bottom: 2px solid black; box-shadow: 5px 5px 5px #888; }

.wrapper nav { position: relative; top: 0; margin: 0; }
.wrapper nav ul li { display: block; }
.wrapper nav ul ul { display: inline-block; }
.wrapper nav ul li ul li {display: inline-block; }
.wrapper nav ul li a { border: 2px solid black; }
.wrapper nav ul li a:hover { background: orange; }

h1 {}
h1 span { background: white; padding: 5px 10px; border: 2px solid black; box-shadow: 5px 5px 5px #888; }

h2, h3 { clear: left; margin-top: 2em; }
h2 span, h3 span { background: white; padding: 5px 10px; border: 2px solid black; box-shadow: 5px 5px 5px #888; }
h2 a, h3 a { background: white; padding: 5px 10px; border: 2px solid black; box-shadow: 5px 5px 5px #888; color: black; text-decoration: none; }
h2 a:hover, h3 a:hover { text-decoration: underline; }
h2 a.target:hover, h3 a.target:hover { text-decoration: none; }

dl { float: right; }
dl.check-in { float: left; }
dl dt { margin-bottom: 15px; }
dl dt span { background: white; padding: 5px 10px; border: 2px solid black; box-shadow: 5px 5px 5px #888; }
dl dd { margin-bottom: 30px; }
dl dd span,
dl dd a { background: white; padding: 5px 10px; border: 2px solid black; box-shadow: 5px 5px 5px #888; color: black; text-decoration: none; }
dl dd a:hover { text-decoration: underline; }
dl.check-in dt { margin-left: 40px; float: left; clear: left; }
dl.check-in dd { float: left; width: 200px; }
dl.check-in dd a { padding: 0; border: none; box-shadow: none; }
dl.check-in dd a img { vertical-align: middle; }

p { width: 800px; margin: auto; background: white; border: 2px solid black; margin-top: 2em; padding: 10px 10px; box-shadow: 5px 5px 5px #888; line-height: 1.5em; }
p a { color: black; }

ol { width: 790px; padding: 1em 1em 0 1em; margin: 1em auto 0 auto; background: white; border: 2px solid black; box-shadow: 5px 5px 5px #888; line-height: 1.5em; }
ol li { margin-bottom: 1em; list-style-position: inside; }
ol ol { border: none; width: 770px; box-shadow: none; }

table.entry-list { background: white; width: 820px; margin: 0 auto; border-collapse: collapse; box-shadow: 5px 5px 5px #888; }
table.entry-list td,
table.entry-list th { border: 2px solid black; padding: 5px; }

table.results { background: white; width: 820px; margin: 0 auto; border-collapse: collapse; box-shadow: 5px 5px 5px #888; border: 2px solid black; }
table.results tr:nth-child(odd) td { background: lightgrey; }
table.results tr.gold td { background: gold; }
table.results tr.silver td { background: silver; }
table.results tr.bronze td { background: darkgoldenrod; }
table.results tr:hover td { background: orange; }

footer { clear: both; font-size: 0.7em; text-align: center; color: white; padding-top: 50px; padding-bottom: 50px; }
footer a { color: white; } 
footer a.tentacle { color: orange; }

